@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 0.8rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #e25127 !important;
}
.bg-success {
  background-color: #ac492d !important;
}
.bg-info {
  background-color: #149dcc !important;
}
.bg-warning {
  background-color: #55b4d4 !important;
}
.bg-danger {
  background-color: #cccccc !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e25127 !important;
  border-color: #e25127 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a63716 !important;
  border-color: #a63716 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a63716 !important;
  border-color: #a63716 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e25127 !important;
  border-color: #e25127 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a63716 !important;
  border-color: #a63716 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a63716 !important;
  border-color: #a63716 !important;
}
.btn-info,
.btn-info:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ac492d !important;
  border-color: #ac492d !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #6f2f1d !important;
  border-color: #6f2f1d !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6f2f1d !important;
  border-color: #6f2f1d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #4d4d4d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #4d4d4d !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #4d4d4d !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #902f13;
  color: #902f13;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e25127;
  border-color: #e25127;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e25127 !important;
  border-color: #e25127 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #902f13;
  color: #902f13;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #e25127;
  border-color: #e25127;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e25127 !important;
  border-color: #e25127 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #5b2718;
  color: #5b2718;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ac492d;
  border-color: #ac492d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ac492d !important;
  border-color: #ac492d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #277e9c;
  color: #277e9c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #55b4d4;
  border-color: #55b4d4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4d4d4d;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e25127 !important;
}
.text-secondary {
  color: #e25127 !important;
}
.text-success {
  color: #ac492d !important;
}
.text-info {
  color: #149dcc !important;
}
.text-warning {
  color: #55b4d4 !important;
}
.text-danger {
  color: #cccccc !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #902f13 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #902f13 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5b2718 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #0b566f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #277e9c !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #999999 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #149dcc;
}
.alert-warning {
  background-color: #55b4d4;
}
.alert-danger {
  background-color: #cccccc;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e25127;
  border-color: #e25127;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e25127;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fae2db;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #dd917c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f8fcfd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #e25127;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #e25127;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #e25127;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e25127;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e25127;
  border-bottom-color: #e25127;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e25127 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e25127 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e25127' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-qLq116aZ3G .navbar {
  background: #333333;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qLq116aZ3G .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-qLq116aZ3G a {
  font-style: normal;
}
.cid-qLq116aZ3G .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qLq116aZ3G .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qLq116aZ3G .nav-item:focus,
.cid-qLq116aZ3G .nav-link:focus {
  outline: none;
}
.cid-qLq116aZ3G .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qLq116aZ3G .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qLq116aZ3G .menu-logo {
  margin-right: auto;
}
.cid-qLq116aZ3G .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qLq116aZ3G .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qLq116aZ3G .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qLq116aZ3G .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qLq116aZ3G .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qLq116aZ3G .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qLq116aZ3G .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qLq116aZ3G .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qLq116aZ3G .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qLq116aZ3G .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qLq116aZ3G .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qLq116aZ3G .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qLq116aZ3G .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qLq116aZ3G .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qLq116aZ3G .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qLq116aZ3G .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qLq116aZ3G .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qLq116aZ3G .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qLq116aZ3G .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qLq116aZ3G .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qLq116aZ3G .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qLq116aZ3G .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qLq116aZ3G button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qLq116aZ3G button.navbar-toggler:focus {
  outline: none;
}
.cid-qLq116aZ3G button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #cccccc;
}
.cid-qLq116aZ3G button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qLq116aZ3G button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qLq116aZ3G button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qLq116aZ3G button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qLq116aZ3G nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qLq116aZ3G nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qLq116aZ3G nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qLq116aZ3G nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qLq116aZ3G .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qLq116aZ3G .collapsed .btn {
  display: flex;
}
.cid-qLq116aZ3G .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qLq116aZ3G .collapsed .navbar-collapse.collapsing,
.cid-qLq116aZ3G .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qLq116aZ3G .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qLq116aZ3G .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qLq116aZ3G .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qLq116aZ3G .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qLq116aZ3G .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qLq116aZ3G .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qLq116aZ3G .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qLq116aZ3G .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qLq116aZ3G .collapsed button.navbar-toggler {
  display: block;
}
.cid-qLq116aZ3G .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qLq116aZ3G .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qLq116aZ3G .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qLq116aZ3G .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qLq116aZ3G .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qLq116aZ3G .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qLq116aZ3G.navbar-expand {
    flex-direction: column;
  }
  .cid-qLq116aZ3G img {
    height: 3.8rem !important;
  }
  .cid-qLq116aZ3G .btn {
    display: flex;
  }
  .cid-qLq116aZ3G button.navbar-toggler {
    display: block;
  }
  .cid-qLq116aZ3G .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qLq116aZ3G .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qLq116aZ3G .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qLq116aZ3G .navbar-collapse.collapsing,
  .cid-qLq116aZ3G .navbar-collapse.show {
    display: block !important;
  }
  .cid-qLq116aZ3G .navbar-collapse.collapsing .navbar-nav,
  .cid-qLq116aZ3G .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qLq116aZ3G .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qLq116aZ3G .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qLq116aZ3G .navbar-collapse.collapsing .navbar-buttons,
  .cid-qLq116aZ3G .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qLq116aZ3G .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qLq116aZ3G .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qLq116aZ3G .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qLq116aZ3G .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qLq116aZ3G .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qLq116aZ3G .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qLq116aZ3G .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qLq116aZ3G .navbar-collapse {
  flex-basis: auto;
}
.cid-qLq116aZ3G .nav-link:hover,
.cid-qLq116aZ3G .dropdown-item:hover {
  color: #767676 !important;
}
.cid-qLpQsjm6wE {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/mbr-1920x971.jpg");
}
.cid-qLpQsjm6wE .media-container-column {
  align-items: center;
}
.cid-qLpQsjm6wE .mbr-author-desc {
  display: block;
  color: #c1c1c1;
  text-align: center;
}
.cid-qLpQsjm6wE .mbr-testimonial {
  flex-basis: auto;
  margin-top: 5rem;
}
.cid-qLpQsjm6wE .mbr-testimonial .panel-item {
  background-color: #333333;
  background: linear-gradient(#333333, transparent);
}
.cid-qLpQsjm6wE .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2rem;
}
.cid-qLpQsjm6wE .mbr-testimonial .card-block .testimonial-photo {
  margin-top: -5rem;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  border-radius: 0;
}
.cid-qLpQsjm6wE .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qLpQsjm6wE .mbr-testimonial .card-block p {
  margin: 0;
}
.cid-qLpQsjm6wE .mbr-testimonial .card-footer {
  padding: 0 2rem 2rem 2rem;
  border-top: 0;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 260px) {
  .cid-qLpQsjm6wE .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-qLpQsjm6wE .mbr-author-name {
  color: #efefef;
}
.cid-qLpQsjm6wE .mbr-author-desc B {
  color: #232323;
}
.cid-qLpQsjm6wE .mbr-author-desc FONT {
  color: #232323;
}
.cid-rdln8cYBAy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #333333;
}
.cid-rdln8cYBAy .testimonials-container {
  margin: 0 auto;
}
.cid-rdln8cYBAy .testimonials-container .testimonials-item {
  justify-content: center;
  margin-top: 3rem;
}
.cid-rdln8cYBAy .testimonials-container .testimonials-item .user {
  background: #cccccc;
}
.cid-rdln8cYBAy .testimonials-container .testimonials-item .user.row {
  margin: 0;
}
.cid-rdln8cYBAy .testimonials-container .testimonials-item .user .user_image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 2rem auto 2rem auto;
}
.cid-rdln8cYBAy .testimonials-container .testimonials-item .user .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rdln8cYBAy .testimonials-container .testimonials-item .user .testimonials-caption {
  padding: 2rem;
  padding: 2rem 2rem 2rem 0;
}
@media (max-width: 260px) {
  .cid-rdln8cYBAy .user_image {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .cid-rdln8cYBAy .testimonials-caption {
    padding: 0 2rem 2rem 2rem !important;
  }
}
.cid-qLpSC84sea {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #333333;
}
.cid-qLpSC84sea .mbr-section-subtitle {
  color: #767676;
}
.cid-qLpSC84sea .container-table {
  margin: 0 auto;
}
.cid-qLpSC84sea .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-qLpSC84sea .dataTables_wrapper {
  display: block;
}
.cid-qLpSC84sea .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-qLpSC84sea .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-qLpSC84sea table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #333333;
  margin-bottom: 0;
}
.cid-qLpSC84sea table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-qLpSC84sea table th:hover {
  background: #333333;
  color: #ffffff;
}
.cid-qLpSC84sea table td {
  border-top: 1px solid #333333;
}
.cid-qLpSC84sea table.table {
  background: #cccccc;
}
.cid-qLpSC84sea .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-qLpSC84sea .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-qLpSC84sea .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-qLpSC84sea .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-qLpSC84sea .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-qLpSC84sea .dataTables_filter {
    text-align: center;
  }
  .cid-qLpSC84sea .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-qLpSC84sea .mbr-section-title {
  color: #ffffff;
}
.cid-rdloyRp1iq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #333333;
  background: linear-gradient(#333333, #333333);
}
.cid-rdloyRp1iq .carousel-control {
  background: #000;
}
.cid-rdloyRp1iq .mbr-section-subtitle {
  color: #767676;
}
.cid-rdloyRp1iq .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rdloyRp1iq .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rdloyRp1iq .carousel-item .wrap-img {
  text-align: center;
}
.cid-rdloyRp1iq .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-rdloyRp1iq .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rdloyRp1iq .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-rdloyRp1iq .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-rdloyRp1iq .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-rdloyRp1iq .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-rdloyRp1iq .cloneditem-1,
.cid-rdloyRp1iq .cloneditem-2,
.cid-rdloyRp1iq .cloneditem-3,
.cid-rdloyRp1iq .cloneditem-4,
.cid-rdloyRp1iq .cloneditem-5 {
  display: none;
}
.cid-rdloyRp1iq .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-rdloyRp1iq .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-rdloyRp1iq .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides2 .cloneditem-1,
  .cid-rdloyRp1iq .carousel-inner.slides2 .cloneditem-2,
  .cid-rdloyRp1iq .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-rdloyRp1iq .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides3 .cloneditem-1,
  .cid-rdloyRp1iq .carousel-inner.slides3 .cloneditem-2,
  .cid-rdloyRp1iq .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-rdloyRp1iq .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides4 .cloneditem-1,
  .cid-rdloyRp1iq .carousel-inner.slides4 .cloneditem-2,
  .cid-rdloyRp1iq .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-rdloyRp1iq .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides5 .cloneditem-1,
  .cid-rdloyRp1iq .carousel-inner.slides5 .cloneditem-2,
  .cid-rdloyRp1iq .carousel-inner.slides5 .cloneditem-3,
  .cid-rdloyRp1iq .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-rdloyRp1iq .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-rdloyRp1iq .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rdloyRp1iq .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rdloyRp1iq .carousel-inner.slides6 .cloneditem-1,
  .cid-rdloyRp1iq .carousel-inner.slides6 .cloneditem-2,
  .cid-rdloyRp1iq .carousel-inner.slides6 .cloneditem-3,
  .cid-rdloyRp1iq .carousel-inner.slides6 .cloneditem-4,
  .cid-rdloyRp1iq .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-rdloyRp1iq H2 {
  color: #efefef;
}
.cid-qMbxhIGB1a {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #333333;
  position: relative;
}
.cid-qMbxhIGB1a .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qMbxhIGB1a .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qMbxhIGB1a .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-qMbxhIGB1a .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qMbxhIGB1a .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-qMbxhIGB1a .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-qMbxhIGB1a .card .panel-body {
  color: #767676;
}
.cid-qMbxhIGB1a H4 {
  color: #efefef;
}
.cid-qMbxhIGB1a .panel-text {
  color: #c1c1c1;
}
.cid-qLpQdR5XVr {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #333333;
}
.cid-qLpQdR5XVr h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qLpQdR5XVr .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-qLpQdR5XVr .mbr-section-subtitle {
  color: #767676;
}
.cid-qLpQdR5XVr .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-qLpQdR5XVr ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
.cid-qLpQdR5XVr path {
  stroke: #e25127;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qLpQdR5XVr .card {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
}
.cid-qLpQdR5XVr .mbr-section-title {
  color: #efefef;
}
.cid-qLpQdR5XVr P {
  color: #efefef;
}
.cid-qLpQdR5XVr H4 {
  color: #ffffff;
}
.cid-qLpQjPgJmy {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #333333;
}
.cid-qLpQjPgJmy .title {
  margin-bottom: 2rem;
}
.cid-qLpQjPgJmy .mbr-section-subtitle {
  color: #767676;
}
.cid-qLpQjPgJmy a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qLpQjPgJmy a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qLpQjPgJmy .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qLpQjPgJmy .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qLpQjPgJmy H2 {
  color: #efefef;
}
.cid-qLpQjPgJmy LABEL {
  color: #efefef;
}
.cid-qLqbtksNqL {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-qLqbtksNqL .row-links {
  width: 100%;
  justify-content: center;
}
.cid-qLqbtksNqL .social-row {
  width: 100%;
  justify-content: center;
}
.cid-qLqbtksNqL .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qLqbtksNqL .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qLqbtksNqL .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qLqbtksNqL .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qLqbtksNqL .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qLqbtksNqL .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qLqbtksNqL .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qLqbtksNqL .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qLqbtksNqL .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qLqbtksNqL .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qLqbtksNqL .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-qLqbtksNqL .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-qLqbtksNqL .media-container-row .mbr-text {
  color: #efefef;
}
